.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.additionalService {
    padding: 1rem;
    text-align: center;
    border-radius: @border-radius-base;
    //border: 1px solid @border-color-base;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px 5px rgb(0 0 0 / 5%);
}

.additionalService .title {
    font-size: @font-size-lg;
    font-weight: bold;
    margin-bottom: auto;
    line-height: 1.25;
    padding-bottom: .5rem;
}

.additionalService .actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: .5rem;
    align-items: center;
}

.additionalService .actions .count {
    font-size: @heading-4-size;
    font-weight: bold;
}
