.container {
    .discount {

    }


    .totalPrice {
        display: flex;
        justify-content: space-between;
        font-size: calc(@font-size-lg + 2px);
        margin-bottom: .5rem;

        .title {

        }

        .price {
            font-weight: bold;

            span {
                color: @primary-color;
            }
        }
    }
}
