.home {
  padding: 1rem;

  .datepicker {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .rangePicker {
      max-width: 500px;
      width: 100%;
    }
  }

  .widgets {
    :global {
      .ant-card {
        margin-bottom: 1.5rem;
      }
    }
  }

  .statisticTitle {
    margin-bottom: 1rem;

    :global {
      .anticon {
        background: @primary-color;
        padding: 0.5rem;
        border-radius: @border-radius-base;
        color: @white;
        vertical-align: 5px;
        margin-right: 0.5rem;
      }

      .ant-statistic-content-value-int {
        font-size: @heading-2-size;
      }
    }
  }
}
