.orderCard {
    border-radius: @border-radius-base;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 3px 0;
    padding: 8px 8px 12px;
    margin-bottom: 8px;
    transition: background-color 0.2s ease;
    background: @component-background;

    /*** HEADER ***/

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        white-space: nowrap;

        .information {
            margin-right: auto;
            line-height: 1.5;

            .id {
                font-weight: bold;

                :global .anticon {
                    color: @text-color-secondary;
                    margin-right: 0.3rem;
                }
            }

            .date {
                font-size: 12px;

                :global .anticon {
                    margin-right: 0.3rem;
                    color: @text-color-secondary;
                    font-size: 14px;
                }
            }
        }

        .delivery {
            margin-right: 0.25rem;
            background: #546bd1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: @white;
            height: 25px;
            width: 40px;
            font-size: 16px;
        }

        .status {
            margin-right: 0.5rem;

            > div {
                height: 25px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                // padding: 0.25rem 1rem;
                color: @white;
                font-size: 16px;
            }

            .wait {
                background: #9babc5;
            }

            .check {
                background: @success-color;
            }

            .cancel {
                background: @error-color;
            }
        }

        .action {
            transition: all 0.1s ease-in-out;
            cursor: pointer;

            .progress {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                svg.icon {
                    max-width: 32px;

                    path {
                        stroke: @blue-color;
                        stroke-width: 8;
                        stroke-dasharray: 288.5;
                        stroke-linecap: round;
                        fill: none;
                        transform-origin: 50px 50px;
                        animation: pathStroke 10s forwards ease-in-out;
                        transform: rotate(-180deg);
                    }
                }

                @keyframes pathStroke {
                    0% {
                        stroke-dashoffset: 288.5;
                    }
                    100% {
                        stroke-dashoffset: 0;
                    }
                }

                :global .anticon {
                    font-size: @heading-4-size;
                    color: @text-color-secondary;
                    position: absolute;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                &:hover {
                    :global .anticon {
                        opacity: 1;
                    }
                }
            }
        }
    }

    /*** CLIENT ***/

    .client {
        margin-bottom: 0.5rem;
        padding: 0.25rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #eff2f5;
        border-bottom: 1px solid #eff2f5;

        .information {
            :global .anticon {
                color: @text-color-secondary;
                margin-right: 0.3rem;
            }

            .fullName {
                font-size: 16px;
            }
        }

        .actions {
            display: flex;
            gap: 0.25rem;
        }
    }

    /*** PRICE ***/

    .footer {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        .information {
            margin-right: auto;

            > .products {
                display: flex;
                align-items: center;

                :global .anticon {
                    color: @text-color-secondary;
                    margin-right: 0.3rem;
                }
            }
        }

        .totalPrice {
            line-height: 1.2;

            > .discount {
                text-align: right;
                color: @text-color-secondary;
                font-size: 10px;

                span {
                    margin-right: 0.25rem;
                }

                b {
                    margin-right: 0.1rem;
                    color: @black;
                }
            }

            > .price {
                text-align: right;
            }
        }
    }
}
