.layout {
    min-height: 100vh;

    .logo {
        height: 32px;
        margin: 0 16px 16px;
        background: rgba(255, 255, 255, 0.3);
    }

    :global {
        .ant-layout-sider {
            z-index: 999;
        }
    }

    .siteLayout {
        background-color: #fff;
        position: relative;

        .siteLayoutHeader {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.02) 0 2px 12px 0;
            z-index: 8;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .siteLayoutContent {
            background-color: @layout-body-background;
        }
    }

    .siteLayoutMenu {
        :global {
            a, .ant-menu-title-content {
                color: @white;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}

.logoMenuSticky {
    position: sticky;
    top: 0;
    padding-top: 1rem;
}

:global {
    .ant-tooltip a {
        color: @white;
    }

    .ant-menu-item .ant-menu-item-icon,
    .ant-menu-submenu-title .ant-menu-item-icon,
    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
        line-height: 25px;
        min-width: 25px;
        font-size: 25px;
        // margin-right: 1.1rem;
        vertical-align: middle;
    }

    .ant-menu-item .ant-menu-item-icon + span,
    .ant-menu-submenu-title .ant-menu-item-icon + span,
    .ant-menu-item .anticon + span,
    .ant-menu-submenu-title .anticon + span {
        margin-left: 1.1rem;
    }

    .ant-menu.ant-menu-inline-collapsed > .ant-menu-item,
    .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
    .ant-menu.ant-menu-inline-collapsed
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-submenu
    > .ant-menu-submenu-title,
    .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-dark.ant-menu-inline .ant-menu-item,
    .ant-menu-dark.ant-menu-vertical .ant-menu-item,
    .ant-menu-dark.ant-menu-vertical-left .ant-menu-item,
    .ant-menu-dark.ant-menu-vertical-right .ant-menu-item {
        padding: 0px 28px !important;
    }

    .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon,
    .ant-menu.ant-menu-inline-collapsed
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-item
    .ant-menu-item-icon,
    .ant-menu.ant-menu-inline-collapsed
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-submenu
    > .ant-menu-submenu-title
    .ant-menu-item-icon,
    .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon,
    .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .anticon,
    .ant-menu.ant-menu-inline-collapsed
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-item
    .anticon,
    .ant-menu.ant-menu-inline-collapsed
    > .ant-menu-item-group
    > .ant-menu-item-group-list
    > .ant-menu-submenu
    > .ant-menu-submenu-title
    .anticon,
    .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
        line-height: 25px;
        min-width: 25px;
        font-size: 25px;
        margin-right: 1.1rem;
        vertical-align: middle;
    }

    .ant-menu-vertical > .ant-menu-item,
    .ant-menu-vertical-left > .ant-menu-item,
    .ant-menu-vertical-right > .ant-menu-item,
    .ant-menu-inline > .ant-menu-item,
    .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
        height: 50px;
        line-height: 50px;
    }
}